body {
  margin: 0;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #355a20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: #93cb56;
  margin-left: 1em;
  text-align: left;
  font-size: 2.5em;
}

button {
  border: 1px solid #355a20;
  border-radius: 10px;
  font-weight: bold;
  color: #355a20;
  background-color: #93cb56;
  padding: 0.3em 1.5em;
}

button:hover {
  background-color:#d4eeb8;
}

label {
  color: #93cb56;
  font-weight: bold;
}

input{
  background-color: #d4eeb8;
}

span {
  color: #d4eeb8;
}
